**/*.pyc
**/__pycache__/
Bavisa/
app/IndexOHLCFiles/
app/OHLCFiles/
app/FBFiles/
app/index-files/
app/build/
app/dash_process/__pycache__/
app/lib/__pycache__/
app/mf_analysis/__pycache__/
app/mf_analysis/ema50/__pycache__/
app/reports/__pycache__/
app/utils/__pycache__/
app/mf_analysis/market_quality_number/__pycache__/
app/__pycache__/
app/Test_reports/__pycache__/
app/lib/__pycache__/
app/lib/__pycache__/__init__.cpython-312.pyc
app/lib/__pycache__/index_ohlc.cpython-312.pyc
app/lib/__pycache__/ohlc.cpython-312.pyc
app/lib/__pycache__/split_bonus.cpython-312.pyc
app/utils/__pycache__/__init__.cpython-312.pyc
app/utils/__pycache__/check_helper.cpython-312.pyc
app/utils/__pycache__/date_set.cpython-312.pyc
app/utils/__pycache__/db_helper.cpython-312.pyc
app/utils/__pycache__/db_helper.cpython-312.pyc
app/build/
build/
dist/
app/dist/
*.csv
app/DownloadedFiles
app/backup
app/missing/*