Bavisa/
app/IndexOHLCFiles/
app/OHLCFiles/
app/FBFiles/
app/index-files/
app/build/
app/dash_process/__pycache__/
app/lib/__pycache__/
app/mf_analysis/__pycache__/
app/mf_analysis/ema50/__pycache__/
app/reports/__pycache__/
app/utils/__pycache__/
app/mf_analysis/market_quality_number/__pycache__/
app/__pycache__/
app/Test_reports/__pycache__/
app/lib/__pycache__/